body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(to bottom,#fff 0,rgba(228,255,239,.8) 20%,rgba(228,255,239,0) 100%);
}
