/* BTN base start */
.btn {
    text-decoration: none;
    background-color: #5dd9c1;
    border: 1px solid transparent;
    color: #fff;
    font-family: Hind;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px 33px;
    border-radius: 6px;
    transition: 0.3s linear;
    cursor: pointer;
}


/* BTN base end */

/* BTN hover start*/
.btn:hover {
    background-color: #fcbf21;
}
/* BTN hover end */