/* reiks pakeist i display none */
.lightbox {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #3339;

}

.lightbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

/* .lightbox-player {
} */

.lightbox-content > .close-player {
    float: right;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}