.slider1 {
    margin 50px auto;
    height: 500px;
    width: 100%;
    background-color: #f6f8f5
    
}

.slBtn{
    float: right;
    width: 50px;
    height: 50px;
    background-color: #c9fff5;
    color: #5dd9c1;
    border: none;
    font-size: 30px;

    cursor: pointer;
    margin:10px;
    margin-bottom: 50px;
}

.slBtn:hover{
    background-color: #5dd9c1;
    color: white;

}


.slBox{
    float: left;
    width: 280px;
    height: 150px;
    margin-top: 150px;
    background-color: white;
    border-radius: 20px;
    margin-right: 25px;
        
 }

.iconBox{
    float: left;
    width:80px;
    height: 150px;
    color: royalblue;
    background-color: #e9e6ff;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.titleBox{
    width:200px;
    height: 50px;
    float: right;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    
    
    
}
.textBox{
    font-size: 20px;
    width: 200px;
    float: right;
    padding-left: 10px;
    text-align:left;
}

.orange{
    background-color: #fff6db;
    color: #fbc10b;
}
.green{
    background-color:#e6fffa;
    color: #73dfca;
}

.blue{
    background-color: #d7eff9;

}