/* .slider-container {
    overflow: hidden;
} */

.slider1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.slider1 h2 {
    font-size: 35px;
}
.slideBtn{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: #c9fff5;
    color: #5dd9c1;
    cursor: pointer;
    border: none;
    
}

.slideBtn:hover{
    background-color: #5dd9c1;
    color: white;

}
.imgBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    transition: transform 0.75s ease-in;
   
}
.sliderColumn1,.sliderColumn2,.sliderColumn3,.sliderColumn4{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 20px;
    border-radius: 20px;
    font-family: hind, sans-serif;
    color: white;
}
.sliderColumn1{
    background-color: #929dff;
}
.sliderColumn1 img,.sliderColumn2 img,.sliderColumn3 img,.sliderColumn4 img{
    width: 170px;
    height: 210px; 
}
.sliderColumn2{
    background-color: #85CFFF;

}
.sliderColumn3{
    background-color: #bf87ff;

}
.sliderColumn4{
    background-color: #ffcb87;
}

@media (max-width: 1100px) {
    .sliderColumn4{
        display: none;
    }
    .sliderColumn1 img,.sliderColumn2 img,.sliderColumn3 img,.sliderColumn4 img{
        width: 210px;
        height: 254px; 
    }
}

@media (max-width: 992px) {
    .sliderColumn1 img,.sliderColumn2 img,.sliderColumn3 img,.sliderColumn4 img{
        width: 250px;
        height: 300px; 
    }
    .sliderColumn3{
        display: none;
    }
    .slideBtn{
        display: none;
    }
    
}
@media (max-width: 720px) {
    .sliderColumn2{
        display: none;
    }
    .sliderColumn1 img{
        width: 300px;
        height: 350px; 
    }

}