.slider1 {
    margin 50px auto;
    height: 500px;
    width: 100%;
    background-color: #f6f8f5
    
}

.slBtn{
    float: right;
    width: 50px;
    height: 50px;
    background-color: #c9fff5;
    color: #5dd9c1;
    border: none;
    font-size: 30px;
    padding: auto;
    cursor: pointer;
    margin:10px;
    margin-bottom: 50px;
}

.slBtn:hover{
    background-color: #5dd9c1;
    color: white;

}


.slBox{
    width: 350px;
    height: 170px;
    margin-top: 150px;
    background-color: white;
    border-radius: 20px;
    margin-right: 30px;
        
 }

.iconBox{
    float: left;
    width:80px;
    height: 170px;
    color: royalblue;
    background-color: #e9e6ff;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.titleBox{
    width:270px;
    height: 50px;
    float: right;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    
    
}
.textBox{
    font-size: 20px;
    width: 270px;
    float: right;
    padding-left: 10px;
    text-align:left;
}
