.slider2 {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

} 



.slBtn{
    float: right;
    width: 50px;
    height: 50px;
    background-color: #c9fff5;
    color: #5dd9c1;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin:10px;
    margin-bottom: 50px;
}

.slBtn:hover{
    background-color: #5dd9c1;
    color: white;

}

.slContainer{
    width: 100%;
}

.slBox{
    background-color: white;
    border-radius: 20px;  
    
 }

.iconBox{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #1d00ff;
    background-color: #e9e6ff;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding: 10px;
 
    
}
.titleBox{
    font-size: 25px;
    cursor: pointer;
    padding-left: 5px;
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
}
.textBox{
    font-size: 18px;
    color: gray;
    padding-left: 10px;
    text-align:center;
    width: 100%;
    padding: 15px;
    
}

.orange{
    background-color: #fff6db;
    color: #fbc10b;
}
.green{
    background-color:#e6fffa;
    color: #73dfca;
}

.blue{
    background-color: #d7eff9;
    color: #45c7fd;

}
.slTitle{
    float: left;

}

@media (max-width: 1200px){
    .invisible4{
        display: none;
    }    
}

@media (max-width: 990px){
    .invisible3{
        display: none;
    }
   .textBox{
    padding-bottom: 15px;
   }

    }
    
   
    
@media (max-width:700px){
    .invisible2{
        display: none;
    }
    .textBox{
        padding-bottom: 25px;
       }

.slBtn{
    display: none;
}
.slBox{
    margin-top: 50px;
}
}
