/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/footer.css';
@import '../components/header.css';

/* CUSTOM STYLE */

/* header start */
/* header end */

/* hero start */
/* hero end */

/* stats start */
/* stats end */

/* clock start */
/* clock end */

/* karusele start */
/* karusele end */

/* course syllabus download start */
/* course syllabus download end */

/* course syllabus content start */
/* course syllabus content end */

/* course benefit start */
/* course benefit end */

/* pricing start */
/* pricing end */

/* pricing start */
.pricebox {
padding: 50px;
background-color: white;
border-radius: 15px;
box-shadow: 0 2px 16px #ccc;
}
.priceboxtwo {
    background-color: #5DD9C1;
}
.money {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    position: relative;
}
.money > p {
    color: #5DD9C1;
    font-size: 56px;
    padding-right: 10px;
}
.pricebox > p {
    font-weight: 100;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;
}
.money > span {
     font-size: 20px;
     font-weight: 200;
}
.pricelist > ul {
    list-style-type:none;
    
}
.pricelist > ul > li {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 10px;
}
.pricelist > ul > li > i {
    margin-right: 10px;
    color: #5DD9C1;
}
.pricebefore {
    text-decoration: line-through;
    font-size:24px !important;
    position: absolute;
    left:40%;
    top: 14%;
}
.priceboxtwo > .money > p,
.priceboxtwo > .money > span,
.priceboxtwo > p,
.priceboxtwo > .pricelist > ul > li,
.priceboxtwo > .pricelist > ul > li > i {
 color: white !important;
}
/* pricing end */

/* subscribe form start */
/* subscribe form end */

/* course instructor start */
/* course instructor end */

/* footer start */
/* footer end */

/* back to top start */
/* back to top end */



