/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/footer.css';
@import '../components/header.css';

/* CUSTOM STYLE */

/* header start */
/* header end */

/* hero start */
/* hero end */

/* stats start */
/* stats end */

/* clock start */
.clock {
  width: 94%;
  margin: auto 3%;
  padding-top: 35px;
  padding-bottom: 40px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0px 4px 8px 0px #707070;
}
.clock-title {
  width: 120px;
  padding: 6px;
  margin: auto;
  background-color: #C9FFF5;
  border-radius: 20px;
}
.clock-title > h4 {
  font-size: 22px;
  color: #5DD9C1;
}
.clock .time {
    font-size: 36px;
    font-weight: bold;
}
.clock .time2 {
  color: #707070;
}
/* clock end */

/* karusele start */
/* karusele end */

/* course syllabus download start */
/* course syllabus download end */

/* course syllabus content start */
/* course syllabus content end */

/* course benefit start */
/* course benefit end */

/* pricing start */
/* pricing end */

/* pricing start */
/* pricing end */

/* subscribe form start */
/* subscribe form end */

/* course instructor start */
/* course instructor end */

/* footer start */
/* footer end */

/* back to top start */
/* back to top end */



