/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/footer.css';
@import '../components/header.css';

/* CUSTOM STYLE */

/* header start */
/* header end */

/* hero start */
/* hero end */

/* stats start */
/* stats end */

/* clock start */
/* clock end */

/* karusele start */
/* karusele end */

/* course syllabus download start */
/* course syllabus download end */

/* course syllabus content start */
/* course syllabus content end */

/* course benefit start */
/* course benefit end */

/* pricing start */
/* pricing end */

/* pricing start */
/* pricing end */

/* subscribe form start */
/* subscribe form end */

/* course instructor start */
/* course instructor end */

/* footer start */
/* footer end */

/* back to top start */
/* back to top end */

/* Student review start*/
.Sara{  
    background-color: white;
    box-shadow: 0px 5px 10px #777;
    width: 100%;
    border-radius: 15px;
    padding: 40px;
}
.Sara p{  
    color: #777;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Dorji{  
    background-color: white;
    box-shadow: 0px 5px 10px #777;
    width: 100%;
    border-radius: 15px;
    padding: 40px;
}

.Dorji p{  
    color: #777;
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    

    
}
.picandname{
    display: flex;
    flex-direction:row
}
.namestyle{
    color: blue;
    border: solid 2px black;
    width: 30%;
    text-align: center;
    

}
.peoplepic{
    border: solid 2px black;
    width: 20%;
}

.Sendemail{  
    background-color:#5DD9C1;
    box-shadow: 0px 5px 10px #777;
    width: 100%;
    border-radius: 15px;
    padding: 40px;
}
/* Student review end*/

